* {
    margin: 0;
    padding: 0;   
}

body {
    font-family: sans-serif;
    font-size: 10px;
    background: url(images/bg.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.keys {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.key {
    background: rgba(0,0,0,0.4);
    color: white;
    border: 1px solid black;
    padding: 10px 14px;
    margin: 5px;
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
    text-shadow: 0 0 0.5rem black;
    transition: all 0.7s ease;
}

kbd {
    display: block;
    font-size: 2rem;
}

.sound {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #ffc600;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}